---
- name: Ensure plugins directory
  ansible.builtin.file:
    path: "{{ nomad_data_dir }}/plugins"
    state: directory
    owner: "{{ nomad_user_name }}"
    group: "{{ nomad_group_name }}"

- name: Ensure downloads directory
  ansible.builtin.file:
    path: "{{ nomad_data_dir }}/downloads"
    state: directory
    owner: "{{ nomad_user_name }}"
    group: "{{ nomad_group_name }}"

- name: Ensure APT is updated
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 600

- name: Ensure APT dependencies
  ansible.builtin.apt:
    name:
      - podman
    state: latest

- name: Ensure drivers
  ansible.builtin.apt:
    name:
      - "{{ item }}"
    state: latest
  loop:
    - nomad-driver-podman

- name: Ensure podman-auto-update systemd directory
  ansible.builtin.file:
    path: "/etc/systemd/system/podman-auto-update.service.d"
    state: directory
    owner: root
    group: root
    mode: 0644

- name: Podman - Set up image pruning
  ansible.builtin.template:
    src: "podman-prune-override.conf.j2"
    dest: "/etc/systemd/system/podman-auto-update.service.d/10-prune.conf"
    mode: 0644
    owner: root
    group: root
  register: _podman_update_conf

- name: Reload systemd
  ansible.builtin.systemd_service:
    daemon_reload: true
  when: _podman_update_conf.changed

# https://developer.hashicorp.com/nomad/plugins/devices/community/usb
# https://gitlab.com/CarbonCollins/nomad-usb-device-plugin
# libusb no longer needed
# https://gitlab.com/api/v4/projects/23395095/packages/generic/nomad-usb-device-plugin/0.4.0/nomad-usb-device-plugin-linux-amd64-0.4.0
- name: "Download USB plugin {{ usb_plugin_version }}"
  ansible.builtin.get_url:
    url: "https://gitlab.com/api/v4/projects/23395095/packages/generic/nomad-usb-device-plugin/{{ usb_plugin_version }}/{{ usb_plugin_binary }}"
    dest: "{{ nomad_data_dir }}/downloads"
    owner: "{{ nomad_user_name }}"
    group: "{{ nomad_group_name }}"
    mode: "0770"
  when:
    - nomad_usb_plugin_enabled is defined
    - nomad_usb_plugin_enabled | bool

- name: Link USB plugin binary
  ansible.builtin.file:
    src: "{{ nomad_data_dir }}/downloads/{{ usb_plugin_binary }}"
    dest: "{{ nomad_data_dir }}/plugins/{{ usb_plugin_name }}"
    owner: "{{ nomad_user_name }}"
    group: "{{ nomad_group_name }}"
    mode: "0770"
    state: link
  when:
    - nomad_usb_plugin_enabled is defined
    - nomad_usb_plugin_enabled | bool
