---
- ansible.builtin.import_tasks: preflight.yaml

- ansible.builtin.import_tasks: install_apt.yaml
  when:
    - ansible_architecture == 'x86_64'
    - ansible_distribution in ["Debian", "Ubuntu"]

- ansible.builtin.import_tasks: ensure_networking.yaml

- ansible.builtin.include_tasks: ensure_cni.yaml
  when:
    - nomad_client is defined
    - nomad_client | bool

- ansible.builtin.import_tasks: ensure_task_drivers.yaml

- ansible.builtin.import_tasks: ensure_tls.yaml

- ansible.builtin.import_tasks: ensure_configs.yaml

- name: Start Nomad
  ansible.builtin.systemd_service:
    name: nomad
    state: started
    enabled: true
    daemon_reload: true
  register: nomad_started

# - name: Wait for Nomad port
#   ansible.builtin.wait_for:
#     port: "{{ nomad_port }}"
#     state: started

- name: Restart Nomad if there are changes
  ansible.builtin.meta: flush_handlers

# TODO: investigate why this hangs now
# - name: Wait for Nomad port
#   ansible.builtin.wait_for:
#     port: "{{ nomad_port }}"
#     state: started
