---
- name: Assert usage of systemd as an init system
  ansible.builtin.assert:
    that: ansible_service_mgr == 'systemd'
    msg: "This module only works with systemd"

# Note: This role only supports Ubuntu/Debian installations.
# Note: The Hashicorp apt server only supports amd64 packages. For arm64, download the
# individual zip files instead.
# See https://github.com/hashicorp/terraform/issues/27378
- name: Assert Debian or Ubuntu release (apt required)
  ansible.builtin.assert:
    that: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
    msg: "This module only works with Debian and Ubuntu releases"

- name: Assert CPU Architecture
  ansible.builtin.assert:
    that: ansible_architecture == 'x86_64'
    msg: "This module only works with amd64 or x86_64 CPU architectures"

- name: Assert agent variables are defined
  ansible.builtin.assert:
    msg: Must define either nomad_client or nomad_server
    that:
      - nomad_client | default(False) or nomad_server | default(False)

# - name: Assert mutually exclusive Nomad agent config
#   ansible.builtin.fail:
#     msg: "Cannot setup Nomad agent as both a server or config"
#   when:
#     - nomad_server | bool
#     - nomad_client | bool

- name: Ensure client list
  ansible.builtin.set_fact:
    nomad_client_list: "{{ nomad_client_list | default([]) + [hostvars[item]] }}"
  when:
    - hostvars[item].nomad_client is defined
    - hostvars[item].nomad_client
  loop: "{{ ansible_play_hosts }}"

- name: Ensure server list
  ansible.builtin.set_fact:
    nomad_server_list: "{{ nomad_server_list | default([]) + [hostvars[item]] }}"
  when:
    - hostvars[item].nomad_server is defined
    - hostvars[item].nomad_server
  loop: "{{ ansible_play_hosts }}"
