{{ ansible_managed | comment }}

proxmox.kijowski.casa {
        tls {
            # https://github.com/caddy-dns/route53
            dns route53 {
                access_key_id "{{ aws_access_key_id }}"
                secret_access_key "{{ aws_secret_access_key }}"
            }
        }
        encode gzip zstd
        # https://forum.proxmox.com/threads/proxmox-ui-caddy-and-reverse-proxy.83198/
        reverse_proxy localhost:8006 {

            transport http {
                tls_insecure_skip_verify
                # tls_trusted_ca_certs /etc/pve/pve-root-ca.pem # Path to PVE root cert
            }
        }
}

:80 {
        redir https://proxmox.kijowski.casa{uri}
}
