# nomad_user_id: 2400
# nomad_group_id: 2400
# nfs role
# mount these on each nomad instance so they can present as host volumes to tasks
truenas_ipv4: '10.10.10.4'
# default NFS mount options: https://linux.die.net/man/5/nfs
mount_opts: "defaults,bg,intr,_netdev,retry=5"
plex_libraries_root_dir: /mnt/plex/libraries
nfs_mounts:
  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank1600/plex/libraries/video/movies'
    dest_path: '{{ plex_libraries_root_dir }}/video/movies'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true
  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank1600/plex/libraries/video/tv-shows'
    dest_path: '{{ plex_libraries_root_dir }}/video/tv-shows'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true
  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank1600/plex/libraries/video/uhd-movies'
    dest_path: '{{ plex_libraries_root_dir }}/video/uhd-movies'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true

  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank1600/autoripm/media'
    dest_path: '/mnt/arm/media'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true

  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank0400/fileflows/cache'
    dest_path: '/mnt/fileflows/cache'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true
  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank0400/fileflows/config'
    dest_path: '/mnt/fileflows/config'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true
  - host: "{{ truenas_ipv4 }}"
    source_path: '/mnt/tank0400/fileflows/common'
    dest_path: '/mnt/fileflows/common'
    opts: "{{ mount_opts }}"
    state: mounted
    boot: true

# Set these on all nomad hosts (they'll only be used by clients)
nomad_client_host_volumes:
  - name: plex-movies
    path: "{{ plex_libraries_root_dir }}/video/movies"
  - name: plex-tv-shows
    path: "{{ plex_libraries_root_dir }}/video/tv-shows"
  - name: plex-uhd-movies
    path: "{{ plex_libraries_root_dir }}/video/uhd-movies"
  - name: arm-media
    path: "/mnt/arm/media"
  - name: fileflows-cache
    path: "/mnt/fileflows/cache"
  - name: fileflows-config
    path: "/mnt/fileflows/config"
  - name: fileflows-common
    path: "/mnt/fileflows/common"
