{{ ansible_managed | comment }}

network:
    version: 2
    ethernets:
        all-eth:
            match:
                name: eth*
            dhcp4: false
            addresses:
                - {{ static_ip4 | ansible.utils.ipaddr('host') }}
            nameservers:
                addresses: {{ nameservers | ansible.utils.ipaddr }}
            routes:
                - to: default
                  via: {{ gateway | ansible.utils.ipaddr }}
