---
- hosts: all
  become: true
  vars_files:
    - vars/samba.yml

  tasks:
    - name: Add Groups (non-Samba)
      group:
        name: "{{ item.name }}"
        gid: "{{ item.gid }}"
        state: present
      loop: "{{ sys_groups }}"

    - name: Add Users (non-Samba)
      user:
        name: "{{ item.name }}"
        uid: "{{ item.uid }}"
        group: "{{ item.group }}"
        create_home: "{{ item.create_home }}"
        state: present
      loop: "{{ sys_users }}"

    - name: Install Samba and Avahi
      apt:
        name: samba,avahi-daemon
        state: latest

    - name: Copy Samba config
      copy:
        src: conf/smb.conf
        dest: /etc/samba/smb.conf
        group: root
        owner: root
        mode: '0660'
        backup: yes

    - name: Copy Avahi config
      copy:
        src: conf/avahi.conf
        dest: /etc/avahi/services/samba.service
        group: root
        owner: root
        mode: '0660'

    - name: Restart Samba
      service:
        name: smbd
        state: restarted

    - name: Restart Avahi
      service:
        name: avahi-daemon
        state: restarted

    - name: Allow Samba UFW
      ufw:
        rule: allow
        name: samba
