---
- hosts: 127.0.0.1
  connection: local

  tasks:

    - name: Make SSL directory
      file:
        path: ./ssl
        state: directory

    - name: Generate private key
      community.crypto.openssl_privatekey:
        path: ./ssl/proxmox.key

    - name: Create Certificate Signing Request (CSR) for self-signed cert
      community.crypto.openssl_csr_pipe:
        privatekey_path: ./ssl/proxmox.key
        common_name: nginx.home.lan
        organization_name: Kijowski Home LAN
        subject_alt_name:
          - "DNS:proxmox.home.lan"
      register: csr

    - name: Create self-signed cert from CSR
      community.crypto.x509_certificate:
        path: ./ssl/proxmox.pem
        csr_content: "{{ csr.csr }}"
        privatekey_path: ./ssl/proxmox.key
        provider: selfsigned
