---
- name: Install Nomad
  hosts: nomad
  debugger: on_failed
  become: true
  tags:
    - install

  tasks:
    - name: Update apt
      ansible.builtin.apt:
        upgrade: yes
        update_cache: yes
        cache_valid_time: 600

    - name: Install additional packages
      ansible.builtin.apt:
        name:
          - nfs-common
          - acl # for become an unprivileged user
          - podman
          - wget
          - gpg
          - coreutils
          - ca-certificates
        state: latest

    - name: Mount NFS directories
      ansible.posix.mount:
        src: "{{ item.host }}:{{ item.source_path}}"
        path: "{{ item.dest_path }}"
        opts: "{{ item.opts }}"
        state: "{{ item.state }}"
        boot: "{{ item.boot }}"
        fstype: nfs
      loop: "{{ nfs_mounts }}"

    - ansible.builtin.import_role:
        name: akijowski.nomad
