---
- name: "Create CT for {{ name | capitalize }}"
  community.general.proxmox:
    api_user: "{{ proxmox_root_user }}"
    api_password: "{{ proxmox_root_pass }}"
    api_host: "{{ proxmox_host }}"
    validate_certs: false
    node: "{{ proxmox_node }}"
    description: "{{ lxc_description }}"
    pool: Ubuntu
    tags: "{{ lxc_tags }}"
    ostemplate: "{{ lxc_os_template }}"
    password: "{{ container_pass }}"
    pubkey: "{{ container_pub_key }}"
    cores: "{{ lxc_cores }}"
    memory: "{{ lxc_mem }}"
    swap: "{{ lxc_mem_swap }}"
    disk: "{{ lxc_disk }}"
    mounts: "{{ lxc_mounts }}"
    hostname: "{{ name }}"
    netif:
      net0: "name=eth0,bridge=vmbr0,firewall=1,gw={{ lxc_gateway_ip }},ip={{ lxc_ip4_cidr }},ip6=dhcp"
    features: "{{ lxc_features }}"
    unprivileged: "{{ lxc_unprivileged }}"
    onboot: true
    state: present
    # NFS based volumes can take time to operate
    timeout: 600
  register: lxc_ct

- ansible.builtin.debug:
    msg: "{{ lxc_ct }}"

- name: Start {{ name | capitalize }} CT
  community.general.proxmox:
    api_user: "{{ proxmox_root_user }}"
    api_password: "{{ proxmox_root_pass }}"
    api_host: "{{ proxmox_host }}"
    validate_certs: false
    node: pve
    hostname: "{{ name }}"
    state: started
  when:
    - lxc_autostart
  register: __lxc_started
  until: __lxc_started is succeeded
  retries: 6
  delay: 10
