---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  destination:
    namespace: monitoring
    name: main-cluster
  project: monitoring
  source:
    path: kubernetes/monitoring
    repoURL: git@github.com:akijowski/home-server.git
    targetRevision: HEAD
