---
- hosts: all
  become: true
  vars_files:
    - vars/microk8s.yml
  
  tasks:
    - name: Install microk8s (async)
      community.general.snap:
        channel: latest/stable
        name: microk8s
        classic: yes
        state: present
      async: 1000
      poll: 0
      register: microk8s_sleeper

    - name: Poll microk8s install
      async_status:
        jid: "{{ microk8s_sleeper.ansible_job_id }}"
      register: job_result
      until: job_result.finished
      retries: 30
      delay: 10

    - name: Message
      debug:
        msg: microk8s is installed!  Check the status with `microk8s status --wait-ready`

    - name: Create microk8s group
      group:
        name: microk8s
        state: present
        system: yes

    - name: Add user to microk8s group
      user:
        name: "{{ create_user }}"
        append: yes
        groups:
          - microk8s
        state: present

    # UFW
    - name: Configure UFW for microk8s
      community.general.ufw:
        comment: kubernetes
        interface_in: "{{ item }}"
        interface_out: "{{ item }}"
        state: enabled
      loop:
        - vxlan.calico
        - cali+

    - name: Configure kube API Access
      community.general.ufw:
        comment: kubernetes API
        port: '16443'
        direction: in
        src: "{{ item }}"
        rule: allow
        state: enabled
      loop:
        - '192.168.11.0/24'
