{{ ansible_managed | comment }}

# https://developer.hashicorp.com/nomad/docs/configuration

datacenter = "dc1"
data_dir   = "{{ nomad_data_dir }}"
bind_addr  = "0.0.0.0"

ui {
  enabled = true

  {% if nomad_vault_address | default('') | length > 0 -%}
  vault {
    ui_url = "{{ nomad_vault_address }}/ui"
  }
  {% endif %}

}

{% if nomad_cluster_tls | default(False) %}
# https://developer.hashicorp.com/nomad/tutorials/transport-security/security-enable-tls
tls {
  http = true
  rpc = true

  ca_file = "{{ nomad_tls_dir }}/{{ nomad_tls_file_prefix}}.ca.crt"
  cert_file = "{{ nomad_tls_dir }}/{{ nomad_tls_file_prefix }}.crt"
  key_file = "{{ nomad_tls_dir }}/{{ nomad_tls_file_prefix }}.key"

  verify_server_hostname = true
  # false to allow external http access without the Vault CA
  verify_https_client = false
}
{% endif %}

{% if nomad_consul_register | default(False) %}
consul {
  address      = "127.0.0.1:8500"
  grpc_address = "127.0.0.1:8502"
}
{% endif %}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics=true
}
