apiVersion: v1
kind: Namespace
metadata:
  name: kube-dashboard

---
# https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/creating-sample-user.md
apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin
  namespace: kube-dashboard

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: admin
  namespace: kube-dashboard

---
apiVersion: v1
kind: Secret
metadata:
  name: admin
  namespace: kube-dashboard
  annotations:
    kubernetes.io/service-account.name: "admin"
type: kubernetes.io/service-account-token

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-dashboard
  namespace: kube-system
spec:
  repo: https://kubernetes.github.io/dashboard
  chart: kubernetes-dashboard
  targetNamespace: kube-dashboard
  # https://artifacthub.io/packages/helm/k8s-dashboard/kubernetes-dashboard
  version: 7.0.0-alpha1
  # Disable things handled by either Traefik or are already present
  valuesContent: |-
    metrics-server:
      enabled: false
    cert-manager:
      enabled: false
      installCRDs: false
    nginx:
      enabled: false
    app:
      ingress:
        enabled: false
        issuer:
          scope: disabled
