---
{{ ansible_managed | comment }}

apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
    # it seems best to keep these helm values together in a single crd
  valuesContent: |-
    image:
      repository: "traefik"
      tag: "3.1"
    logs:
      general:
        level: INFO
    envFrom:
      - secretRef:
          name: dns-aws-credentials # dns-secrets.yaml
      - configMapRef:
          name: aws-config #traefik-env.yaml
    certResolvers:
      aws-dns: # acme is added automatically
        email: {{ aws_dns_email }}
        storage: /data/acme.json # must match persistence
        #caServer: https://acme-staging-v02.api.letsencrypt.org/directory
        caServer: https://acme-v02.api.letsencrypt.org/directory
        dnsChallenge:
          provider: route53
    persistence:
      enabled: true
      # defaults to creating a /data directory
