# https://technotim.live/posts/cloud-init-cloud-image/
---
- name: Ensure Cloud Init VM data
  hosts:
    - hyperion
  become: true
  tags:
    - cidata
  tasks:
   # https://forum.proxmox.com/threads/explaining-snippets-feature.53553/post-247272
    - name: Ensure CI data files
      ansible.builtin.template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: '0755'
      loop:
        - src: "templates/pve_snippets/net-conf-multihome-dhcp.yaml.j2"
          dest: "/var/lib/vz/snippets/net-conf-multihome-dhcp.yaml"
        - src: "templates/pve_snippets/user-data-multihome.yaml.j2"
          dest: "/var/lib/vz/snippets/user-data-multihome.yaml"

- name: Ensure Cloud Init VM images
  hosts:
    - hyperion
  become: true
  tags:
    - ciimages
  vars:
    img_base_dir: "/mnt/pve/nfs-isos/import"
    images:
      debian13:
        state: present
        url: "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-generic-amd64.qcow2"
        shasum: "sha512:https://cloud.debian.org/images/cloud/trixie/latest/SHA512SUMS"
        vmid:
          hyperion: 9000
  tasks:
    - name: Ensure CI base images exist
      ansible.builtin.get_url:
        url: "{{ item.value.url }}"
        dest: "{{ img_base_dir }}/{{ item.value.url | basename }}"
        checksum: "{{ item.value.shasum }}"
        mode: '0440'
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

- name: Ensure Cloud Init VM templates
  hosts:
    - hyperion
  become: true
  tags:
    - citemplates
  vars:
    img_base_dir: "/mnt/pve/nfs-isos/import"
    img_storage: nfs-isos
    images:
      debian13:
        state: present
        url: "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-generic-amd64.qcow2"
        shasum: "sha512:https://cloud.debian.org/images/cloud/trixie/latest/SHA512SUMS"
        format: qcow2
        vmid:
          hyperion: 9000
  tasks:
    - name: Create base VM
      delegate_to: 127.0.0.1
      community.proxmox.proxmox_kvm:
        api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST') }}"
        api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_USER') }}"
        api_token_id: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_ID') }}"
        api_token_secret: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_SECRET') }}"

        node: "{{ inventory_hostname }}"
        name: "{{ item.value.url | basename | split('.') | first }}"
        vmid: "{{ item.value.vmid[inventory_hostname] }}"
        agent: true
        bios: seabios
        boot: 'order=scsi0;net0'
        bootdisk: 'scsi0'
        cpu: host
        cores: 1
        description: "Created At: {{ now(utc=true) }}"
        machine: q35
        scsihw: virtio-scsi-pci
        net:
          net0: 'virtio,bridge=vmbr0'
        ostype: l26
        rng0: '/dev/urandom'
        serial:
          serial0: socket
        tablet: true
        vga: serial0
        state: "{{ item.value.state }}"
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: Attach CI disk
      delegate_to: 127.0.0.1
      community.proxmox.proxmox_disk:
        api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST') }}"
        api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_USER') }}"
        api_token_id: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_ID') }}"
        api_token_secret: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_SECRET') }}"

        backup: true
        disk: 'scsi0'
        format: "{{ item.value.format | default('raw') }}"
        import_from: "{{ img_storage }}:import/{{ item.value.url | basename }}"
        name: "{{ item.value.url | basename | split('.') | first }}"
        vmid: "{{ item.value.vmid[inventory_hostname] }}"
        state: present
        storage: local-lvm
        timeout: 600
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: Convert to template
      delegate_to: 127.0.0.1
      community.proxmox.proxmox_kvm:
        api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST') }}"
        api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_USER') }}"
        api_token_id: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_ID') }}"
        api_token_secret: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_SECRET') }}"

        node: "{{ inventory_hostname }}"
        name: "{{ item.value.url | basename | split('.') | first }}"
        vmid: "{{ item.value.vmid[inventory_hostname] }}"
        state: template
        force: true # stop VM if necessary
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"
