---
# https://technotim.live/posts/cloud-init-cloud-image/
- name: Ensure Cloud Init VM templates are available
  hosts:
    # - proxmox_nodes
    - hyperion
  become: true
  vars:
    img_base_dir: "/etc/ansible/cloud-init-images"
    images:
      debian13:
        state: present
        url: "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-generic-amd64.qcow2"
        shasum: "sha512:https://cloud.debian.org/images/cloud/trixie/latest/SHA512SUMS"
        vmid:
          hyperion: 9000

  tasks:
    - name: Ensure image directory
      ansible.builtin.file:
        path: "{{ img_base_dir }}"
        state: directory
        mode: '0755'

    - name: Ensure downloaded base images
      ansible.builtin.get_url:
        url: "{{ item.value.url }}"
        dest: "{{ img_base_dir }}/{{ item.value.url | basename }}"
        checksum: "{{ item.value.shasum }}"
        mode: '0440'
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: Create base VM
      delegate_to: 127.0.0.1
      community.proxmox.proxmox_kvm:
        api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST') }}"
        api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_USER') }}"
        api_token_id: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_ID') }}"
        api_token_secret: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_SECRET') }}"

        node: "{{ inventory_hostname }}"
        name: "{{ item.value.url | basename | split('.') | first }}"
        vmid: "{{ item.value.vmid[inventory_hostname] }}"
        agent: true
        bios: seabios
        cpu: host
        cores: 1
        description: "Created At: {{ now(utc=true) }}"
        machine: q35
        net:
          net0: 'virtio,bridge=vmbr0'
        ostype: l26
        rng0: '/dev/urandom'
        serial:
          serial0: socket
        tablet: true
        vga: serial0
        state: "{{ item.value.state }}"
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

# Copied from the examples here: https://github.com/ansible-collections/community.proxmox/issues/53
# TODO: Replace root user. Required while the cloud image file is an abs path.
# Moving it to a snippets directory or something may work better
    - name: Attach Disk and Add CI Drive to VM
      delegate_to: 127.0.0.1
      community.proxmox.proxmox_kvm:
        api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST') }}"
        api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_ROOT_USER') }}"
        api_password: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_ROOT_PASSWORD') }}"

        node: "{{ inventory_hostname }}"
        name: "{{ item.value.url | basename | split('.') | first }}"
        vmid: "{{ item.value.vmid[inventory_hostname] }}"
        boot: "order=scsi0;net0"
        ide:
          ide2: "local-lvm:cloudinit"
        scsihw: virtio-scsi-pci
        scsi:
          scsi0: "local-lvm:0,import-from={{ img_base_dir }}/{{ item.value.url | basename }}"
        state: present
        update: true
        update_unsafe: true
        timeout: 700 # importing disks can take a while
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"

# Right now the play bombs out at the above step due to a bug in the proxmox module
# Error with read timeout: https://github.com/ansible-collections/community.proxmox/issues/160
# But it gets far enough that you can still make the VM a template in the UI
    - name: Convert VM to template
      delegate_to: 127.0.0.1
      community.proxmox.proxmox_kvm:
        api_host: "{{ lookup('ansible.builtin.env', 'PROXMOX_HOST') }}"
        api_user: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_USER') }}"
        api_token_id: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_ID') }}"
        api_token_secret: "{{ lookup('ansible.builtin.env', 'PROXMOX_CI_TOKEN_SECRET') }}"

        node: "{{ inventory_hostname }}"
        name: "{{ item.value.url | basename | split('.') | first }}"
        state: template
      loop: "{{ images | dict2items }}"
      loop_control:
        label: "{{ item.key }}"
      when: item.value.state == 'present'
