direnv_load_ansible_vault_variables() {
    local path=${1:-$PWD/.env}
    eval "$(ansible-vault view "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
    }

direnv_load_ansible_vault_variables
