{
    "uid": 998,
    "username": "plex",
    "group": {{ plex_group_id }},
    "group_create": false,
    "home": "/nonexistent",
    "shell": "/usr/sbin/nologin",
    "full_name": "plex",
    "password_disabled": true,
    "locked": false,
    "smb": true
}
