---
- name: "Create LXC"
  hosts: localhost
  connection: local
  gather_facts: false
  tags:
    - lxc
  vars_files:
    - vars/proxmox.yml
    - vars/vault.yml

  tasks:
    # - include_role:
    #     name: proxmox_lxc
    #   vars:
    #     name: samba
    #     lxc_ip4_cidr: "192.168.50.12/24"
    #     lxc_disk: "vmstorage:70"
    #     lxc_features:
    #       - "mount=nfs;cfis"
    #     lxc_unprivileged: false

    - ansible.builtin.include_role:
        name: proxmox_lxc
      vars:
        name: plex
        lxc_ip4_cidr: "192.168.50.11/24"
        lxc_disk: "vmstorage:100"
        lxc_cores: 2
        lxc_mem: 2048
        lxc_swap: 1024
        lxc_features:
          - "mount=nfs;cfis"
        lxc_unprivileged: false
        lxc_mounts:
          mp0: "ssdstorage:100,mp=/mnt/ssd,backup=1,size=25G"

    - include_role:
        name: proxmox_lxc
      vars:
        name: homebridge
        proxmox_node: phoebe
        lxc_ip4_cidr: "192.168.50.15/24"
        lxc_disk: "local-lvm:70"
