---
- name: Ensure config directory exists
  ansible.builtin.file:
    path: "{{ coredns_config_dir }}"
    state: directory
    mode: 0750
    owner: "{{ coredns_system_user }}"
    group: "{{ coredns_system_group }}"

- name: Ensure Corefile exists
  ansible.builtin.template:
    src: "{{ coredns_corefile_tmpl }}"
    dest: "{{ coredns_config_dir }}/Corefile"
    owner: "{{ coredns_system_user }}"
    group: "{{ coredns_system_group }}"
    mode: 0750
  notify:
    - restart coredns
