{{ ansible_managed | comment }}

adguard.home.kijowski.io {
        tls {
            # https://github.com/caddy-dns/route53
            dns route53 {
                access_key_id "{{ aws_access_key_id }}"
                secret_access_key "{{ aws_secret_access_key }}"
            }
        }
        # https://github.com/AdguardTeam/AdGuardHome/wiki/FAQ#reverseproxy
        encode gzip zstd
        reverse_proxy localhost:8000
}

:80 {
        redir https://adguard.home.kijowski.io{uri}
}
