---
# Purpose: bring the instance to the desired state by running the role under test.
# Molecule calls this playbook with `molecule converge`.
- name: Converge
  hosts: molecule_consul
  gather_facts: true # Disable if your role does not rely on facts
  tasks:
    # - ansible.builtin.debug:
    #     var: ansible_interfaces

    - name: Apply role under test
      ansible.builtin.include_role:
        name: akijowski.hashicorp.consul
      vars:
        install_helpers: true
        consul_retry_join_include_interface: 'ens18'
        consul_agent_server_bootstrap: true
        consul_retry_join: ["consul.lab.arpa"]
