---
- name: Assert usage of systemd as an init system
  ansible.builtin.assert:
    that: ansible_facts['service_mgr'] == 'systemd'
    msg: "This module only works with systemd"

# Note: This role only supports Ubuntu/Debian installations.
# Note: The Hashicorp apt server only supports amd64 packages. For arm64, download the
# individual zip files instead.
# See https://github.com/hashicorp/terraform/issues/27378
- name: Assert Debian or Ubuntu release (apt required)
  ansible.builtin.assert:
    that: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'
    msg: "This module only works with Debian and Ubuntu releases"

- name: Assert CPU Architecture
  ansible.builtin.assert:
    that: ansible_facts['architecture'] == 'x86_64'
    msg: "This module only works with amd64 or x86_64 CPU architectures"
