---
# Purpose: bring the instance to the desired state by running the role under test.
# Molecule calls this playbook with `molecule converge`.
- name: Converge
  hosts: molecule_lego
  gather_facts: true # Disable if your role does not rely on facts
  tasks:
    - name: Apply role under test
      ansible.builtin.include_role:
        name: akijowski.lego_acme
      vars:
        lego_acme_email: agkijow@gmail.com
        lego_acme_domains:
          - molecule-test.kijowski.casa
        lego_hook_script: 'install-certs.sh.j2'
        lego_env:
          foo: bar
          AWS_REGION: 'us-east-1'
          AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
          AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"
          AWS_HOSTED_ZONE_ID: "{{ aws_hosted_zone_id }}"
        lego_env_file: extra.env.j2
