---
plugin: community.general.proxmox

validate_certs: true
want_facts: true

keyed_groups:
  - key: proxmox_tags_parsed
    separator: "_"
    prefix: tags
# By default the hosts will show up as tags_<name> so host vars go under the name, but we can rename with groups so group vars make sense
groups:
  ubuntu: "'ubuntu' in (proxmox_tags_parsed|list)"
  traefik: "'traefik' in (proxmox_tags_parsed|list)"
  arm: "'arm' in (proxmox_tags_parsed|list)"
  # if you use <name>.lan you can parse it like so to make a group (for group_vars) of <name>
  # plex: "'plex' in (proxmox_tags_parsed|list)"

want_proxmox_nodes_ansible_host: false
compose:
  ansible_host: proxmox_ipconfig0.ip | default(proxmox_net0.ip) | ansible.utils.ipaddr('address')
  some_var: "'another_var'"
