---
plugin: community.proxmox.proxmox

user: "{{ lookup('ansible.builtin.env', 'ANSIBLE_PROXMOX_USER') }}"
token_id: "{{ lookup('ansible.builtin.env', 'ANSIBLE_PROXMOX_TOKEN_ID') }}"
token_secret: "{{ lookup('ansible.builtin.env', 'ANSIBLE_PROXMOX_TOKEN_SECRET') }}"

validate_certs: true
want_facts: true

keyed_groups:
  - key: proxmox_tags_parsed
    separator: "_"
    prefix: group
# By default the hosts will show up as tags_<name> so host vars go under the name, but we can rename with groups so group vars make sense
groups:
  ubuntu: "'ubuntu' in (proxmox_tags_parsed|list)"
  plex: "'plex' in (proxmox_tags_parsed|list)"
  arm: "'arm' in (proxmox_tags_parsed|list)"
  vault: "'vault' in (proxmox_tags_parsed|list)"
  # if you use <name>.lan you can parse it like so to make a group (for group_vars) of <name>
  # plex: "'plex' in (proxmox_tags_parsed|list)"

# Return only running VMs/LXCs and ones that have been tagged with 'ansible'
filters:
  - proxmox_status == "running"
  - "proxmox_tags_parsed is defined and 'ansible' in proxmox_tags_parsed"

want_proxmox_nodes_ansible_host: true
compose:
  some_var: "'another_var'"
  # default to lxc IP otherwise assume qemu
  ansible_host: proxmox_lxc_interfaces[1]["inet"] | default(proxmox_agent_interfaces[1]["ip-addresses"][0] | default(proxmox_net0.ip)) | ansible.utils.ipaddr('address')
  #ansible_host: proxmox_ipconfig0.ip | default(proxmox_net0.ip) | ansible.utils.ipaddr('address')
  # use the qemu guest agent IP. First one is localhost, so use the second one.
  # workaround for the inconsistent naming: https://github.com/ansible-collections/community.general/issues/4854#issuecomment-1295908101
  qemu_ipv4: proxmox_agent_interfaces[1]["ip-addresses"][0] | default(proxmox_net0.ip) | ansible.utils.ipaddr('address')
  # use the lxc interfaces. First one is localhost, so use the second one.
  lxc_ipv4: proxmox_lxc_interfaces[1]["inet"] | ansible.utils.ipaddr('address')
