# Configure TrueNAS
# Given: zpool created for metadata and media
## Create plex user and group
## Create NFS Share
#
# TODO: make a custom module to interact with the TrueNAS API
---
- name: Configure TrueNAS
  hosts: 127.0.0.1 # run locally since we just interact with an external API
  connection: local
  gather_facts: false
  vars:
    truenas_host: 'https://192.168.11.116/api/v2.0'
  vars_prompt:
    - name: truenas_api_key
      prompt: Enter the TrueNAS API key for the ansible user

  tasks:
    # Using the REST API: https://www.truenas.com/docs/api/scale_rest_api.html
    - name: Gather Existing Groups
      ansible.builtin.uri:
        url: "{{ truenas_host }}/group"
        method: GET
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        return_content: true
        status_code: 200
        validate_certs: false
      register: plex_groups

    - name: Gather Existing Users
      ansible.builtin.uri:
        url: "{{ truenas_host }}/user"
        method: GET
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        return_content: true
        status_code: 200
        validate_certs: false
      register: plex_users

    - name: Gather Existing NFS Shares
      ansible.builtin.uri:
        url: "{{ truenas_host }}/sharing/nfs"
        method: GET
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        return_content: true
        status_code: 200
        validate_certs: false
      register: nfs_shares

    - name: Parse API Data
      ansible.builtin.set_fact:
      # https://jmespath.org/
        plex_group_id: "{{ plex_groups.json | community.general.json_query(plex_group_id_query) }}"
        plex_groups_count: "{{ plex_groups.json | community.general.json_query(plex_group_query) }}"
        plex_users_count: "{{ plex_users.json | community.general.json_query(plex_user_query) }}"
        nfs_shares_media_count: "{{ nfs_shares.json | community.general.json_query(nfs_shares_media_query) }}"
        nfs_shares_meta_count: "{{ nfs_shares.json | community.general.json_query(nfs_shares_meta_query) }}"
      vars:
        nfs_shares_media_query: "length([?path == '/mnt/tank00-4tb/plex/media'])"
        nfs_shares_meta_query: "length([?path == '/mnt/tank00-4tb/plex/metadata'])"
        plex_group_query: "length([?group == 'plex'])"
        plex_group_id_query: "[?group == 'plex'] | [0].id"
        plex_user_query: "length([?username == 'plex'])"

    - name: Create Plex group
      ansible.builtin.uri:
        url: "{{ truenas_host }}/group"
        method: POST
        src: req/truenas-create-group.json
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        status_code: 200
        validate_certs: false
      when: plex_groups_count == '0'

    - name: Create Plex user
      ansible.builtin.uri:
        url: "{{ truenas_host }}/user"
        method: POST
        body: "{{ lookup('ansible.builtin.template', 'req/truenas-create-user.json.j2') }}"
        body_format: json
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        status_code: 200
        validate_certs: false
      when: plex_users_count == '0'
    # - name: Assign Plex permissions to zpool directories
    #   ansible.builtin.uri:
    #     url: ''
    #     method: POST
    #     src: req/truenas-chown.json
    #     force_basic_auth: true
    #     status_code: 200
    - name: Create NFS share for Plex Media
      ansible.builtin.uri:
        url: "{{ truenas_host }}/sharing/nfs"
        method: POST
        src: req/truenas-nfs-media.json
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        status_code: 200
        validate_certs: false
      when: nfs_shares_media_count == '0'

    - name: Create NFS share for Plex Metadata
      ansible.builtin.uri:
        url: "{{ truenas_host }}/sharing/nfs"
        method: POST
        src: req/truenas-nfs-metadata.json
        headers:
          Accept: 'application/json'
          Authorization: "Bearer {{ truenas_api_key }}"
        status_code: 200
        validate_certs: false
      when: nfs_shares_meta_count == '0'

# Configure Proxmox
- name: Configure Proxmox
  hosts: 127.0.0.1 # run locally since we just interact with an external API
  connection: local
  gather_facts: false
  vars:
    proxmox_host: '192.168.11.139:8006'
  vars_prompt:
    - name: proxmox_root_pass
      prompt: Enter the Proxmox root password
    - name: container_pass
      prompt: Enter the container password

  tasks:
    - name: Create new CT
      community.general.proxmox:
        api_user: root@pam
        api_password: "{{ proxmox_root_pass }}"
        api_host: "{{ proxmox_host }}"
        validate_certs: false
        node: pve
        description: |
          Plex container.  Created with Ansible
        pool: Ubuntu
        tags:
          - ansible
          - plex
          - ubuntu
        ostemplate: 'local:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst'
        password: "{{ container_pass }}"
        pubkey: "{{lookup('ansible.builtin.file', '/root/.ssh/github_akijowski_mbp14.pub') }}"
        cores: 2
        memory: 2048
        swap: 1028
        disk: 'vmstorage:100'
        hostname: plex.lan
        netif:
          net0: "name=eth0,bridge=vmbr0,firewall=1,gw=192.168.11.1,ip=192.168.11.5/24,ip6=dhcp"
        features:
          - 'mount=nfs;cfis'
        unprivileged: false
        onboot: true
        state: present
      register: plex_ct

    - debug:
        msg: "{{ plex_ct }}"

    - name: Start Plex CT
      community.general.proxmox:
        api_user: root@pam
        api_password: "{{ proxmox_root_pass }}"
        api_host: "{{ proxmox_host }}"
        validate_certs: false
        node: pve
        hostname: plex.lan
        state: started
