---
- name: Initialize LXC
  hosts: plex
  debugger: on_failed
  become: true
  tags:
    - init

  tasks:
    - name: Update packages
      ansible.builtin.apt:
        upgrade: yes
        state: present

    - name: Install packages
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 86400 # 1 day
        name:
          - curl
          - wget
          - fail2ban
          - vim
          - unzip
          - gpg
          - mailutils
          - ufw
          - git
        state: latest

    - name: Install unattended upgrades
      ansible.builtin.import_role:
        name: hifis.unattended_upgrades
      vars:
        unattended_automatic_reboot: true
        unattended_syslog_enable: true
        unattended_mail: "{{ unattended_email }}"
        unattended_mail_only_on_error: true

    - name: Disable password authentication for root
      ansible.builtin.lineinfile:
        path: /etc/ssh/sshd_config
        state: present
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin prohibit-password'

    - name: UFW - Allow SSH connections
      community.general.ufw:
        rule: allow
        name: OpenSSH

    - name: UFW - Deny all other incoming traffic by default
      community.general.ufw:
        state: enabled
        policy: deny
        direction: incoming

- name: Preconfigure the host
  hosts: plex
  debugger: on_failed
  become: true
  tags:
    - pre_config

  tasks:
    - name: Install additional packages
      ansible.builtin.apt:
        update_cache: yes
        name:
          - nfs-common
          - rsync
        state: latest

    - name: Mount NFS directories
      ansible.posix.mount:
        src: "{{ item.host }}:{{ item.source_path}}"
        path: "{{ item.dest_path }}"
        opts: rw,sync,hard,vers=4
        state: mounted
        fstype: nfs
      loop: "{{ nfs_mounts }}"

    - name: Create Plex ssd metadata directory
      ansible.builtin.file:
        path: /mnt/ssd/plexmediaserver
        state: directory

    - name: Create symlink to Plex metadata directory
      ansible.builtin.file:
        src: /mnt/ssd/plexmediaserver
        path: /var/lib/plexmediaserver
        state: link
        owner: 1800
        group: 1800

    - name: Create rsync script directory
      ansible.builtin.file:
        path: /etc/plex_metadata_sync
        state: directory

    - name: Copy rsync script
      ansible.builtin.template:
        src: conf/sync_metadata.sh.j2
        dest: /etc/plex_metadata_sync/sync.sh
        mode: '0774'

    - name: Configure rsync crontab
      ansible.builtin.cron:
        name: "sync plex metadata"
        special_time: "daily"
        job: /etc/plex_metadata_sync/sync.sh
        state: present

- name: Seed Plex Metadata
  hosts: plex
  become: true
  tags:
    - seed

  tasks:
    - name: Proceed?
      ansible.builtin.pause:
        prompt: This will overwrite data from the NFS storage pool, specify 'Y' to proceed
      register: seed_metadata

    - name: Seed Plex metadata from NFS
      ansible.builtin.copy:
        src: '{{ plex_metadata_nfs_root_dir }}/'
        remote_src: true
        dest: /mnt/ssd/plexmediaserver/
        owner: 1800
        group: 1800
      when: seed_metadata.user_input == Y

- name: Install Plex
  hosts: plex
  debugger: on_failed
  become: true
  tags:
    - install

  tasks:
    - ansible.builtin.import_role:
        name: akijowski.plex
      vars:
        plex_additional_dirs:
        # Make sure the ownership permissions are set on these directories
          - /var/lib/plex/libraries/audio/music
          - /var/lib/plex/libraries/video/movies
          - /var/lib/plex/libraries/video/9round
          - /var/lib/plex/libraries/video/tv-shows
          - /var/lib/plex/libraries/video/uhd-movies
