---
- name: Mount Directories for Plex
  hosts: plex
  become: true
  tags:
    - mount
    - nfs

  tasks:
    - name: Install additional packages
      ansible.builtin.apt:
        update_cache: yes
        name:
          - nfs-common
        state: latest

    - name: Mount NFS directories
      ansible.posix.mount:
        src: "{{ item.host }}:{{ item.source_path }}"
        path: "{{ item.dest_path }}"
        opts: "{{ item.opts }}"
        state: "{{ item.state }}"
        boot: "{{ item.boot }}"
        fstype: nfs
      loop: "{{ nfs_mounts }}"

- name: Install Plex
  hosts: plex
  debugger: on_failed
  become: true
  tags:
    - install

  tasks:
    - name: Change Plex ssd metadata directory
      ansible.builtin.set_fact:
        plex_metadata_ssd_root_dir: "/opt/ssd/plexmetadata"
      when:
        - proxmox_node == "pve01" # this node does not have an extra ssd slot to mount. yet.

    - name: Create Plex ssd metadata directory
      ansible.builtin.file:
        path: "{{ plex_metadata_ssd_root_dir }}"
        state: directory

    # Make sure to seed the metadata from the NFS at least once otherwise plex will not start (often with permission denied)
    - name: Create symlink to Plex metadata directory
      ansible.builtin.file:
        src: "{{ plex_metadata_ssd_root_dir }}"
        path: /var/lib/plexmediaserver
        state: link
        owner: "{{ plex_user_id }}"
        group: "{{ plex_group_id }}"

    - ansible.builtin.import_role:
        name: akijowski.plex
      vars:
        plex_additional_dirs:
        # Make sure the ownership permissions are set on these directories
          - "{{ plex_libraries_root_dir }}/audio/music"
          - "{{ plex_libraries_root_dir }}/video/movies"
          - "{{ plex_libraries_root_dir }}/video/9round"
          - "{{ plex_libraries_root_dir }}/video/tv-shows"
          - "{{ plex_libraries_root_dir }}/video/uhd-movies"

- name: Sync metadata from SSD to NFS
  hosts: plex
  debugger: on_failed
  become: true
  tags:
    - sync

  tasks:
    - name: Ensure additional packages
      ansible.builtin.apt:
        update_cache: yes
        name:
          - rsync
        state: latest

    - name: Change Plex ssd metadata directory
      ansible.builtin.set_fact:
        plex_metadata_ssd_root_dir: "/opt/ssd/plexmetadata"
      when:
        - proxmox_node == "pve01" # this node does not have an extra ssd slot to mount. yet.

    - name: Ensure systemd timer and service
      ansible.builtin.template:
        src: "templates/{{ item }}.j2"
        dest: "/etc/systemd/system/{{ item }}"
        mode: 0755
        owner: root
        group: root
      loop:
        - plex-data-sync.timer
        - plex-data-sync.service

    - name: Ensure timer is enabled
      ansible.builtin.systemd_service:
        name: plex-data-sync.timer
        daemon_reload: true
        state: started
        enabled: true

- name: Seed Plex Metadata
  hosts: plex
  become: true
  tags:
    - seed

  tasks:
    - name: Proceed?
      ansible.builtin.pause:
        prompt: This will overwrite data from the NFS storage pool (it could take a while), specify 'Y' to proceed
      register: seed_metadata

    - name: Change Plex ssd metadata directory
      ansible.builtin.set_fact:
        plex_metadata_ssd_root_dir: "/opt/ssd/plexmetadata"
      when:
        - proxmox_node == "pve01" # this node does not have an extra ssd slot to mount. yet.

    - name: Seed Plex metadata from NFS
      ansible.builtin.copy:
        src: "{{ plex_metadata_nfs_root_dir }}/"
        remote_src: true
        dest: "{{ plex_metadata_ssd_root_dir }}/"
        owner: "{{ plex_user_id }}"
        group: "{{ plex_group_id }}"
      when: seed_metadata.user_input == "Y"
