---
- name: Ensure templates directory
  ansible.builtin.file:
    path: "{{ item.agent_source | dirname }}"
    state: directory
  with_items: "{{ vault_agent_templates }}"
  loop_control:
    label: "{{ item.agent_source | dirname }}"

- name: Ensure output directory
  ansible.builtin.file:
    path: "{{ item.agent_dest | dirname }}"
    state: directory
  with_items: "{{ vault_agent_templates }}"
  loop_control:
    label: "{{ item.agent_dest | dirname }}"

- name: Ensure server configuration
  ansible.builtin.template:
    src: "{{ item.ansible_tmpl }}"
    dest: "{{ item.agent_source }}"
    variable_end_string: "]]"
    variable_start_string: "[["
  with_items: "{{ vault_agent_templates }}"
  loop_control:
    label: "{{ item.agent_source }}"
  notify:
    - restart agent
