---
- name: Update apt
  ansible.builtin.apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 600

- name: Ensure system packages are installed
  ansible.builtin.apt:
    name:
      - acl # for become an unprivileged user
    state: latest

- name: Ensure Podman is installed
  ansible.builtin.apt:
    name:
      - podman
    state: latest
