# https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

prometheus-node-exporter:
  prometheus:
    monitor:
      enabled: true

# Set these to false to remove the label selector requirement on service/pod monitors
# prometheus:
#   prometheusSpec:
#     serviceMonitorSelectorNilUsesHelmValues: false
#     podMonitorSelectorNilUsesHelmValues: false
