# https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml

fullnameOverride: kube-prometheus

prometheus-node-exporter:
  prometheus:
    monitor:
      enabled: true

# With these enabled, they can not be successfully scraped with "out-of-the-box" config for microk8s.  Will need to look at fixing it.
kubeControllerManager:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

# Set these to false to remove the label selector requirement on service/pod monitors
# prometheus:
#   prometheusSpec:
#     serviceMonitorSelectorNilUsesHelmValues: false
#     podMonitorSelectorNilUsesHelmValues: false
