# Proxmox Inventory
PROXMOX_URL=https://proxmox.kijowski.casa:8006
PROXMOX_USER=ansible@pam
PROXMOX_TOKEN_ID=inventory
PROXMOX_TOKEN_SECRET=""
# Packer
PKR_VAR_pve_api_url="${PROXMOX_URL}/api2/json"
PKR_VAR_pve_username="user@pam!tokenid"
PKR_VAR_pve_token=""
# Vault
VAULT_ADDR=https://vault.kijowski.casa:8200
