apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tdarr

commonLabels:
  app.kubernetes.io/part-of: tdarr

resources:
  - base/storage.yaml
  - base/tdarr-server.yaml
  - base/tdarr-node.yaml
  - base/traefik.yaml

patches:
  - path: overlays/pv.yaml
    target:
      kind: PersistentVolume
      version: v1
  - path: overlays/pvc.yaml
    target:
      kind: PersistentVolumeClaim
      version: v1
  - target:
      kind: StatefulSet
      name: tdarr-node
    patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: tdarr-node
      spec:
        replicas: 2

images:
  - name: ghcr.io/haveagitgat/tdarr
  # Also set the StatefulSet image
    newTag: '2.27.02'

replicas:
  - name: tdarr-server
    count: 1

configMapGenerator:
  - name: startup-scripts
    behavior: create
    options:
      disableNameSuffixHash: true
    files:
      - update-ffmpeg.sh
