apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tdarr

commonLabels:
  app.kubernetes.io/part-of: tdarr

resources:
  - base/storage.yaml
  - base/tdarr-server.yaml
  - base/tdarr-node.yaml
  - base/traefik.yaml

patches:
  - path: overlays/pv.yaml
    target:
      kind: PersistentVolume
      version: v1
  - path: overlays/pvc.yaml
    target:
      kind: PersistentVolumeClaim
      version: v1

images:
  - name: ghcr.io/haveagitgat/tdarr
    newTag: '2.27.02'

replicas:
  - name: tdarr-server
    count: 1
