create_user: adam
create_user_key: https://github.com/akijowski.keys
sys_packages: ['curl', 'vim', 'git', 'ufw', 'fail2ban', 'mailutils']
sys_groups:
  - name: plex
    gid: '998'
  - name: sambaetc
    gid: '1200'
sys_users:
  - name: plex
    uid: '998'
    group: 'plex'
    create_home: no
  - name: sambaetc
    uid: '1200'
    group: 'sambaetc'
    create_home: no
