---
- name: Issue Route53 Cert
  become_user: "{{ acme_system_user }}"
  ansible.builtin.command:
    cmd: "{{ acme_dir }}/acme.sh --issue --dns dns_aws -d {{ cert_fqdn }}"
  register: __acme_issue
  until: __acme_issue is succeeded
  retries: 20 # 30 * 20 (600) seconds
  delay: 30
  environment:
    AWS_ACCESS_KEY_ID: "{{ hostvars[inventory_hostname].aws_access_key_id }}"
    AWS_SECRET_ACCESS_KEY: "{{ hostvars[inventory_hostname].aws_secret_access_key }}"
    AWS_DNS_SLOWRATE: "{{ aws_dns_slowrate }}"

- name: Issue output
  ansible.builtin.debug:
    msg: "{{ __acme_issue.cmd + __acme_issue.stdout_lines + __acme_issue.stderr_lines }}"
