{{- with secret "aws/sts/[[ coredns_aws_policy ]]" "ttl=21600" -}}
{{- with .Data -}}
[default]
aws_access_key_id = {{ .access_key }}
aws_secret_access_key = {{ .secret_key }}
aws_session_token = {{ .session_token }}
{{- end -}}
{{ end }}
