apiVersion: v1
kind: PersistentVolume
metadata:
  name: not-important
  labels:
    app.kubernetes.io/component: storage
spec:
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  mountOptions:
    - hard
    - nfsvers=4.1
  nfs:
    server: 192.168.50.4
