---
- name: Install ARM Prequisites
  hosts: arm0
  debugger: on_failed
  become: true
  tags:
    - pre

  tasks:
    - name: Update apt
      ansible.builtin.apt:
        upgrade: yes
        update_cache: yes
        cache_valid_time: 600

    - name: Ensure system packages are installed
      ansible.builtin.apt:
        name:
          - nfs-common
          - lsscsi
          - acl # for become an unprivileged user
        state: latest

    - name: Ensure Podman is installed
      ansible.builtin.apt:
        name:
          - podman
        state: latest

    - name: Ensure ARM Users and Groups
      block:
        - name: Ensure ARM group exists
          ansible.builtin.group:
            name: "{{ arm_group_name }}"
            gid: "{{ arm_group_id }}"
            state: present

        - name: Ensure ARM user exists
          ansible.builtin.user:
            name: "{{ arm_user_name }}"
            comment: ARM Podman
            uid: "{{ arm_user_id }}"
            create_home: true
            group: "{{ arm_group_name }}"
            groups:
              - cdrom
              - video
            append: true
            shell: /bin/bash
            state: present

    - name: Ensure Directories
      block:
        - name: "Ensure ARM directories exist"
          ansible.builtin.file:
            path: "{{ item }}"
            state: directory
            mode: '0775'
            owner: "{{ arm_user_name }}"
            group: "{{ arm_group_name }}"
          loop:
            - "{{ arm_base_dir }}"
            - "{{ arm_music_dir }}"
            - "{{ arm_logs_dir }}"
            - "{{ arm_media_dir }}"
            - "{{ arm_config_dir }}"

        - name: Ensure NFS mounts
          ansible.posix.mount:
            src: "{{ item.host }}:{{ item.src }}"
            path: "{{ item.dest }}"
            opts: "{{ item.opts }}"
            state: "{{ item.state }}"
            fstype: nfs
          loop: "{{ nfs_mounts }}"

# Run the ARM Container as root so we can properly map files to the container
# Otherwise we would have to fix the issues subuids and subgids
- name: Install ARM Container
  hosts: arm0
  debugger: on_failed
  become: true
  tags:
    - install

  tasks:
    - name: Copy Podman Systemd Files
      ansible.builtin.template:
        src: "{{ item }}"
        dest: "/etc/containers/systemd/{{ item | replace('.j2', '') }}"
        owner: root
        group: root
        mode: 0644
      loop:
        - "arm.container.j2"
        - "arm.image.j2"

    - name: Reload systemd
      ansible.builtin.systemd_service:
        name: arm
        daemon_reload: true
        state: restarted
        enabled: true
