- name: TuringPi Prerequisites
  hosts: turingpi_cluster
  debugger: on_failed
  become: true
  # must use ask-become-pass (-K)
  # You must use pubkey certs for ssh
  # ssh-copy-id -i ~/.ssh/<pubkeyfile> ubuntu@<ipaddress>
  tags:
    - pre

  tasks:
  - name: Create Ansible Group
    ansible.builtin.group:
      name: ansible
      system: true
      state: present

  - name: Create Ansible User
    ansible.builtin.user:
      name: ansible
      group: ansible
      create_home: true
      shell: /bin/bash
      comment: Ansible automation user
      system: true
      state: present

  - name: Allow Ansible group to have passwordless sudo
    ansible.builtin.copy:
      content: "%ansible ALL=(ALL:ALL) NOPASSWD:ALL"
      dest: /etc/sudoers.d/ansible
      mode: '0440'
      validate: '/usr/sbin/visudo -cf %s'

  - name: Add SSH key for Ansible
    ansible.posix.authorized_key:
      user: ansible
      state: present
      key: 'https://github.com/akijowski.keys'

- name: TuringPi Init
  hosts: turingpi_cluster
  debugger: on_failed
  become: true
  tags:
    - init

  tasks:
        # Update and install the base software
        # https://docs.vultr.com/how-to-configure-a-new-ubuntu-server-with-ansible
    - name: Update apt package cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Upgrade installed apt packages
      ansible.builtin.apt:
        upgrade: dist
      register: upgrade
      retries: 15
      delay: 5
      until: upgrade is success

    - name: Ensure that a base set of software packages are installed
      ansible.builtin.apt:
        name:
          - nfs-common
          - fail2ban
          - unzip
          - vim
        state: latest

    - name: Check if a reboot is needed for Debian-based systems
      ansible.builtin.stat:
        path: /var/run/reboot-required
      register: reboot_required

    - name: Check if cloud init is installed.
      ansible.builtin.stat:
        path: "/etc/cloud/templates/hosts.debian.tmpl"
      register: cloud_installed

    - name: Report if reboot is needed.
      ansible.builtin.debug:
        msg: Rebooting the server, please wait.
      when: reboot_required.stat.exists

    - name: Reboot the server if needed
      ansible.builtin.reboot:
        msg: "Reboot initiated by Ansible because of reboot required file."
        connect_timeout: 5
        reboot_timeout: 600
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: whoami
      when: reboot_required.stat.exists

# https://linuxconfig.org/netplan-network-configuration-tutorial-for-beginners
    - name: Disable cloud-init from changing network config
      ansible.builtin.copy:
        content: |
          network: {config: disabled}
        dest: /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
        owner: root
        group: root
        mode: 0644
      when: cloud_installed.stat.exists

    - name: Configure netplan with static IP
      ansible.builtin.template:
        src: templates/netplan.yaml.j2
        dest: /etc/netplan/60-static-ip.yaml
        owner: root
        group: root
        mode: 0600
      when: cloud_installed.stat.exists
      notify:
        - netplan apply

    - name: Remove old packages from the cache
      ansible.builtin.apt:
        autoclean: yes

    - name: Remove dependencies that are no longer needed
      ansible.builtin.apt:
        autoremove: yes
        purge: yes

  handlers:
  # this will hang :(
  # to consider: https://serverfault.com/questions/1123343/how-to-handle-network-changes-and-restart-with-ansible
    - name: netplan apply
      ansible.builtin.command: netplan apply
