---
plugin: community.general.proxmox

validate_certs: false
want_facts: true

keyed_groups:
  - key: proxmox_tags_parsed
    separator: "_"
    prefix: tags
groups:
  ubuntu: "'ubuntu' in (proxmox_tags_parsed|list)"
  plex: "'plex' in (proxmox_tags_parsed|list)"

want_proxmox_nodes_ansible_host: false
compose:
  ansible_host: proxmox_ipconfig0.ip | default(proxmox_net0.ip) | ansible.utils.ipaddr('address')
  some_var: "'another_var'"
