---
- name: Create build script directory
  ansible.builtin.file:
    path: /etc/caddy
    state: directory

- name: Create build script
  ansible.builtin.template:
    src: templates/caddy_build.sh.j2
    dest: /etc/caddy/caddy_build.sh
    mode: '0755'

# TODO: this does not work, URI download is better
- name: Build caddy
  ansible.builtin.shell: /etc/caddy/caddy_build.sh &> caddy_build.txt
  args:
    executable: /bin/bash
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin"
