---
# https://github.com/caddyserver/dist/blob/master/init/README.md
- name: Create config directory
  ansible.builtin.file:
    path: /etc/caddy
    state: directory

- name: Create caddy group
  ansible.builtin.group:
    name: caddy
    system: true
    state: present

- name: Create caddy user
  ansible.builtin.user:
    name: caddy
    group: caddy
    home: /var/lib/caddy
    shell: /usr/sbin/nologin
    comment: Caddy web server
    system: true
    append: true
    groups: "{{ caddy_additional_groups }}"
    state: present

- name: Copy Caddyfile
  ansible.builtin.template:
    src: "{{ caddy_file_location }}"
    dest: /etc/caddy/Caddyfile
    owner: caddy
    mode: '0755'
    # validate: /usr/bin/caddy validate --config %s
  notify: Restart caddy service

- name: Install systemd service
  ansible.builtin.copy:
    src: files/caddy.service
    dest: /etc/systemd/system/caddy.service
  notify: Restart caddy service
