---
- name: Check if Caddy exists
  ansible.builtin.stat:
    path: /usr/bin/caddy
  register: __caddy_bin

- name: debug
  ansible.builtin.debug:
    msg: "{{ __caddy_bin }}"

# https://caddyserver.com/download
# https://caddyserver.com/api/download?os=linux&arch=arm&arm=7&p=github.com%2Fcaddy-dns%2Froute53&idempotency=51598860950478
- name: Download from Caddy
  ansible.builtin.get_url:
    url: "https://caddyserver.com/api/download?os=linux&arch={{ caddy_arch }}&p={{ xcaddy_modules | join('p=') | urlencode }}&idempotency={{ 6000000000000 | random(5000000000000, 100) }}"
    dest: /usr/bin/caddy
    mode: '0555'
  register: __caddy_dl
  until: __caddy_dl is succeeded
  retries: 600
  delay: 10
  vars:
    caddy_arch: "arm&arm=7"
  when: not __caddy_bin.stat.exists
