{{ ansible_managed | comment }}
#
# https://forums.plex.tv/t/customizing-your-plex-configuration/205443
# Customize Plex's config
[Service]
Environment="PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR={{ plex_metadata_basedir }}/Library/Application Support"
#
#  These values are only needed if you wish to change user & group
#User=chuck
#Group=strange
#
# This is needed to change the default umask
#UMask=0002    # this must be 4 digits of octal
