---

- name: "Getting guest operating system information."
  ansible.builtin.debug:
    msg: "OS Family: {{ ansible_os_family }} | Ansible Distribution: {{ ansible_distribution }} | Distribution Version: {{ ansible_distribution_version }}"

- name: Prepare the {{ ansible_facts['distribution'] }} guest operating system
  include_tasks: redhat.yaml
  when: "ansible_facts['distribution'] in ['RedHat', 'CentOS', 'Rocky', 'AlmaLinux', 'OracleLinux']"
