---

- name: "Getting guest operating system information."
  ansible.builtin.debug:
    msg: "OS Family: {{ ansible_facts['os_family'] }} | Ansible Distribution: {{ ansible_facts['distribution'] }} | Distribution Version: {{ ansible_facts['distribution_version'] }}"

- name: Prepare the {{ ansible_facts['distribution'] }} guest operating system
  include_tasks: debian.yaml
  when: "ansible_facts['distribution'] in ['Debian', 'Ubuntu']"

- name: Prepare the {{ ansible_facts['distribution'] }} guest operating system
  include_tasks: redhat.yaml
  when: "ansible_facts['distribution'] in ['RedHat', 'CentOS', 'Rocky', 'AlmaLinux', 'OracleLinux']"
