[Unit]
Description=Automatic Ripping Machine
Documentation=https://github.com/automatic-ripping-machine/automatic-ripping-machine
After=network-online.target
After=docker.service
Requires=docker.service

[Service]
Type=exec

User={{ arm_user_name }}
Group={{ arm_group_name }}

ExecStart={{ arm_user_home }}/{{ arm_docker_start_script }}

ExecReload={{ arm_user_home }}/{{ arm_docker_stop_script }}
ExecReload={{ arm_user_home }}/{{ arm_docker_start_script }}

ExecStop={{ arm_user_home }}/{{ arm_docker_stop_script }}

RestartSec=5
Restart=on-failure

SyslogIdentifier=arm

[Install]
WantedBy=multi-user.target
