# Used to configure static IP addresses on the machine
nameservers:
  - '192.168.50.1'
  - '9.9.9.10'
gateway: '192.168.50.1'
# Email settings
unattended_email: agkijow@gmail.com
# Default packages
apt_default_packages:
  - curl
  - wget
  - fail2ban
  - vim
  - unzip
  - gpg
  - mailutils
  - ufw
  - git
