---
# https://github.com/PyratLabs/ansible-role-k3s
- name: K3s Install
  hosts:
    - k3s_cluster
    - k3s_mgmt_cluster
  become: true
  tags:
    - install
  pre_tasks:
    - name: Install requirements
      ansible.builtin.apt:
        name:
          - nfs-common
          - wireguard # for wireguard-native CNI
        update_cache: true
    # https://docs.k3s.io/installation/requirements?os=pi#operating-systems
    - name: Install rpi kernal patches
      ansible.builtin.apt:
        name:
          - linux-modules-extra-raspi
      when: is_raspberry_pi

    - name: Is UFW Installed
      ansible.builtin.command: which ufw
      ignore_errors: true
      register: ufw_installed

    - name: Disable UFW
      community.general.ufw:
        state: disabled
      when: ufw_installed.stdout
  tasks:
    - name: Build cluster
      ansible.builtin.include_role:
        name: xanmanning.k3s

- name: Copy kubeconfig to local machine
  hosts:
    - k3s_cluster
    - k3s_mgmt_cluster
  become: true
  tags:
    - copy_config
  tasks:
    # - name: debug
    #   ansible.builtin.debug:
    #     msg: "{{ hostvars['kube-0'].ansible_host }}"

    - name: Find kubeconfig on server
      ansible.builtin.stat:
        path: /etc/rancher/k3s/k3s.yaml
      register: __has_config

    - name: Copy kubeconfig to local machine
      when: __has_config
      block:
        - name: "Get host IP for {{ inventory_hostname }}"
          ansible.builtin.set_fact:
            controller_ip: "{{ ansible_host }}"

        # If needed at some point
        # https://stackoverflow.com/a/58665099

        - name: Copy file
          ansible.builtin.fetch:
            src: /etc/rancher/k3s/k3s.yaml
            dest: "{{ lookup('ansible.builtin.env', 'HOME') }}/.kube/{{ group_names | last }}_{{ inventory_hostname }}.yaml"
            flat: yes

        - name: Add controller IP
          delegate_to: 127.0.0.1
          ansible.builtin.replace:
            path: "/home/vscode/.kube/{{ group_names | last }}_{{ inventory_hostname }}.yaml"
            regexp: '(?P<proto>http(s?)://)(?P<uri>\d{0,3}.\d{0,3}.\d{0,3}.\d{0,3})(?P<port>:\d+)$'
            replace: "\\g<proto>{{ controller_ip }}\\g<port>"

        - name: Update context name
          delegate_to: 127.0.0.1
          ansible.builtin.replace:
            path: "/home/vscode/.kube/{{ group_names | last }}_{{ inventory_hostname }}.yaml"
            regexp: 'default\b$'
            replace: "{{ group_names | last }}"
