---
- name: Pull arm image
  containers.podman.podman_image:
    name: "{{ arm_container_image }}"
    tag: "{{ arm_container_tag }}"
    pull: true
    state: present

- name: Stop old containers
  ansible.builtin.systemd_service:
    name: "container-{{ arm_container_name}}"
    state: stopped

- name: Remove any existing container
  containers.podman.podman_container:
    name: "{{ arm_container_name }}"
    image: "{{ arm_container_image }}:{{ arm_container_tag }}"
    state: absent

- name: Create podman container
  containers.podman.podman_container:
    name: "{{ arm_container_name }}"
    image: "{{ arm_container_image }}:{{ arm_container_tag }}"
    publish:
      - "{{ arm_port }}:8080"
    volume:
      - "{{ arm_base_dir }}:/home/arm"
      - "{{ arm_music_dir }}:/home/arm/music"
      - "{{ arm_logs_dir }}:/home/arm/logs"
      - "{{ arm_media_dir }}:/home/arm/media"
      - "{{ arm_config_dir }}:/etc/arm/config"
    env:
      ARM_UID: "{{ arm_user_id }}"
      ARM_GID: "{{ arm_group_id }}"
    rm: true # required for systemd idempotence
    privileged: true
    device:
      - "/dev/sr0:/dev/sr0"
      - "/dev/sr1:/dev/sr1"
      - "/dev/sr2:/dev/sr2"
      - "/dev/sr3:/dev/sr3"
    state: present

- name: Generate systemd unit
  containers.podman.podman_generate_systemd:
    name: "{{ arm_container_name }}"
    new: true
    dest: /etc/systemd/system
  notify:
    - "podman - enable arm systemd unit"
