---
- name: Pull Docker Image ({{ arm_docker_tag }})
  community.docker.docker_image:
    name: "{{ arm_docker_image }}:{{ arm_docker_tag }}"
    source: pull

# - name: Configure mountpoints
- name: Create docker start command
  ansible.builtin.template:
    backup: false
    dest: "{{ arm_user_home }}/{{ arm_docker_start_script }}"
    group: "{{ arm_group_name }}"
    owner: "{{ arm_user_name }}"
    mode: '0755'
    src: templates/docker_start.sh.j2

- name: Create docker stop command
  ansible.builtin.template:
    backup: false
    dest: "{{ arm_user_home }}/{{ arm_docker_stop_script }}"
    group: "{{ arm_group_name }}"
    owner: "{{ arm_user_name }}"
    mode: '0755'
    src: templates/docker_stop.sh.j2

- name: Mount NFS ({{ item.dest }})
  ansible.posix.mount:
    src: "{{ item.host }}:{{ item.src }}"
    path: "{{ item.dest }}"
    opts: rw,sync,hard,vers=4
    state: mounted
    fstype: nfs
  loop: "{{ nfs_mounts }}"

# TODO:
# https://blog.container-solutions.com/running-docker-containers-with-systemd
# https://github.com/ibuildthecloud/systemd-docker (check the issues, not maintained)
# - name: Copy the arm systemd service file
#   ansible.builtin.template:
#     dest: /etc/systemd/system/arm.service
#     src: arm.service.j2
#     owner: root
#     group: root
#     mode: '0644'
#   notify: restart arm
